{% extends "layout.html" %}
{% block body %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename = 'img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SankalpDev</h1>
            <span class="subheading">A Blog for Developer by Developers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
          
        
        <div class="post-preview">
          <a href="post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tag_line}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            {{post.date}}</p>

          <p>{{post.content[0:143]}}...</p>
        </div>
        {% endfor %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}